:root {
  /* Variables de css */
  --bg-color: #181419;
  --bg-input-color: #4f31572c;
  --primary-color: #9f3647;
  --secondary-color: #ffc098;
  --third-color: #8246db;
  --color: #fff;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color:#8246db;
;
  color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.home-link{
  text-decoration: none;
  color: white;
}
#banner-movie {
  background-image: url('../static/img/mario-bg.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.7);
  color: white;
  padding: 20px;
}

.movie-detail {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.movie-detail-poster img {
  border-radius: 10px;
  width: 300px;
}

.movie-detail-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-detail-info-title h2 {
  margin: 0;
}

.movie-detail-info-title span {
  font-size: 0.8rem;
}

.movie-detail-info-overview h3 {
  margin: 0;
}

.movie-detail-info-credits p {
  margin: 5px 0;
}

#back-to-index {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#back-to-index:hover {
  background-color: #0056b3;
}

#more-info {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#more-info h2 {
  margin: 0 0 20px 0;
}

.more-info-table table {
  width: 100%;
  border-collapse: collapse;
}

.more-info-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.more-info-table td strong {
  color: #910079;
}

footer {
  align-items: center;
  background-color: var(--third-color);
  display: flex;
  height: 100px;
  width: 100%;
}

footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}