<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos del Grupo</title>
    <link rel="stylesheet" href="../static/css/creditos.css"> <!-- Enlaza tu archivo de estilos CSS -->
</head>
<body>
    <header>
        
        <nav>
            <!-- logo y nombre sitio -->
            <div id="logo">
                <a href="../index.html">
                    <!-- aqui icono de fontawesome -->
                    <i class="fa-solid fa-film fa-spin"></i>
                    <span class="logo-text"> 
                        Amazhon
                    </span>
                </a>
            </div>    
            <!-- menu de acciones -->

            <ul>
                <!-- <li> Tendencias </li> -->
                <li>
                    <!-- ruta relativa a mi archivo actual -->
                    <a href="./templates/register.html">Registrarse</a>
                </li>
                <li>
                    <a 
                    href="https://developer.themoviedb.org/docs"
                    target="_blank"
                    title="Ir a la pagina que me dara las pelis para este hermoso frontend"
                    class="primer-clase"
                    >
                    API
                </a>
                </li>
                
                <li id="usuario">
                    <a class="btn-primary" href="#">
                        
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">
                            Iniciar Sesión
                        </span>    
                    </a> 
                </li>
            </ul>
        </nav>
        <section id="creditos">
            <h2>Créditos</h2>
            <h3>Grupo D</h3>
          </section>
        
    </header>
    <main>
        
        
        <section class="integrante">
            <h2>Nombre del Integrante </h2>
            <h3>Alexis Aragón Rodriguez</h3>
            
        </section>
        
        <section class="integrante">
            <h2>Nombre del Integrante </h2>
            <h3>Oscar Jesús Maidana</h3>
        </section>
        <section class="integrante">
            <h2>Nombre del Integrante </h2>
            <h3>Ezequiel Elías Fiege</h3>
        </section>
        <section class="integrante">
            <h2>Nombre del Integrante </h2>
            <h3>Facundo Agustín Albertus</h3>
        </section>
        <section class="integrante">
            <h2>Nombre del Integrante </h2>
            <h3>Pablo Acosta Cuesta</h3>
        </section>
        

    </main>
    <footer>
        <a href="#">Terminos y condiciones</a>
        <a href="./pregfrecuentes.html">Preguntas Frecuentes</a>
        <a href="#">Ayuda</a>
        <a href="creditos.html">Creditos</a>
        <a href="./crud-movies.html">CRUD Peliculas</a>
    </footer>
</body>
</html>