<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peli - Detalle</title>
    <link rel="cac-movie icon" href="../static/img/favicon.ico" type="image/x-icon">

    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    <link rel="stylesheet" href="../static/css/detail.css">
</head>

<body>
    <header>
        <nav>
            <!-- logo y nombre sitio -->
            <h1><a href="../index.html" class="home-link">CaC - Pelis</a></h1>

            <!-- menu de acciones -->
            <ul type="square">
                <!-- <li>Tendencias</li> -->
                <li>
                    <!-- ruta relativa a mi archivo actual -->
                    <a href="../templates/register.html">Registrarse</a>
                </li>
                <li>
                    <a href="https://developer.themoviedb.org/docs" target="_blank"
                        title="Ir a la pagina que me dara las pelis para este hermoso frontend">
                        API
                    </a>
                </li>
                <li>
                <a href="../templates/login.html">Iniciar sesión</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="banner-movie">
            <div class="movie-detail">
                <div class="movie-detail-poster">
                    <img src="../static/img/civilWar.jpg" alt="Captain America: Civil War Poster">
                </div>
                <div class="movie-detail-info">
                    <div class="publicidad">
                        Hola espacio para publicar
                    </div>
                    <div class="movie-detail-info-title">
                        <h2>Captain America: Civil War <span>(2016)</span></h2>
                        <p>04/05/2016 • Action, Adventure, Science Fiction • 2h 27m</p>
                    </div>
                    <div class="movie-detail-info-overview">
                        <h3>Overview</h3>
                        <p>Political involvement in the Avengers' affairs causes a rift between Captain America and Iron
                            Man.</p>
                    </div>
                    <div class="movie-detail-info-credits">
                        <p>Anthony Russo</p>
                        <p>Director</p>
                    </div>
                    <div class="movie-detail-info-credits">
                        <p>Joe Russo</p>
                        <p>Director</p>
                    </div>
                    <div class="movie-detail-info-credits">
                        <p>Christopher Markus</p>
                        <p>Writer</p>
                    </div>
                    <div class="movie-detail-info-credits">
                        <p>Stephen McFeely</p>
                        <p>Writer</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="more-info">
            <div>
                <h2>Trailer</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dKrVegVI0Us"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>

            <div class="more-info-table">
                <table>
                    <tr>
                        <td colspan="2" align="center">Info</td>
                    </tr>
                    <tr>
                        <td><strong>Estado</strong></td>
                        <td>Estrenada</td>
                    </tr>
                    <tr>
                        <td><strong>Lenguaje</strong></td>
                        <td>Inglés</td>
                    </tr>
                    <tr>
                        <td><strong>Presupuesto</strong></td>
                        <td>$250,000,000</td>
                    </tr>
                    <tr>
                        <td><strong>Ganancia</strong></td>
                        <td>$1,153,304,495</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
    
        <!-- <a href="#">Terminos y condiciones</a> -->
        <a href="../templates/pregfrecuentes.html">Preguntas Frecuentes</a>
        <a href="../templates/creditos.html">Creditos</a>
        <a href="../templates/crud-movies.html">CRUD Peliculas</a>
    
    </footer>
</body>

</html>