<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos del Grupo</title>
    <link rel="stylesheet" href="../static/css/pregfrecuentes.css"> <!-- Enlaza tu archivo de estilos CSS -->
</head>
<body>
    <header>
        
        <nav>
            <!-- logo y nombre sitio -->
            <div id="logo">
                <a href="../index.html">
                    <!-- aqui icono de fontawesome -->
                    <i class="fa-solid fa-film fa-spin"></i>
                    <span class="logo-text"> 
                        CaC - Pelis!!!!!!!!
                    </span>
                </a>
            </div>    
            <!-- menu de acciones -->

            <ul>
                <li> Tendencias </li>
                <li>
                    <!-- ruta relativa a mi archivo actual -->
                    <a href="./templates/register.html">Registrarse</a>
                </li>
                <li>
                    <a 
                    href="https://developer.themoviedb.org/docs"
                    target="_blank"
                    title="Ir a la pagina que me dara las pelis para este hermoso frontend"
                    class="primer-clase"
                    >
                    API
                </a>
                </li>
                <!-- <li class="primer-clase">Iniciar sesion</li> -->
                <li id="usuario">
                    <a class="btn-primary" href="#">
                        <!-- aqui icono de fontawesome -->
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">
                            Iniciar Sesión
                        </span>    
                    </a> 
                </li>
            </ul>
        </nav>
        
        <section id="preguntasfrec">
            <h2>Preguntas Frecuentes</h2>
        </section>
    </header>
    <main>
        
        <section class="preguntas">
            <h2>¿Qué tipo de películas ofrecen?</h2>
            <p>Ofrecemos una amplia variedad de películas que abarcan géneros como acción, 
                comedia, drama, ciencia ficción, entre otros. Nuestro objetivo es satisfacer 
                los gustos de todos los espectadores.</p>
            
        </section>
        
        <section class="preguntas">
            <h2>¿Cómo puedo buscar películas específicas en su sitio? </h2>
            <p>Puedes buscar películas utilizando nuestra barra de búsqueda. Simplemente ingresa el título de la película 
                que estás buscando y te mostraremos todas las opciones disponibles relacionadas.</p>
        </section>
        <section class="preguntas">
            <h2>¿Ofrecen subtítulos en diferentes idiomas? </h2>
            <p>Sí, ofrecemos subtítulos en varios idiomas para muchas de nuestras películas. 
                Puedes seleccionar el idioma de los subtítulos desde la configuración del reproductor de video.</p>
        </section>
        <section class="preguntas">
            <h2>¿Hay algún costo asociado para ver las películas en su sitio? </h2>
            <p>Ofrecemos una combinación de películas gratuitas y premium. Las películas gratuitas pueden tener anuncios, 
                mientras que las películas premium están disponibles mediante una suscripción mensual.</p>
        </section>
        <section class="preguntas">
            <h2>¿Necesito descargar alguna aplicación para ver las películas? </h2>
            <p>No es necesario descargar ninguna aplicación. Puedes ver nuestras películas 
                directamente desde cualquier navegador web en tu computadora, tableta o teléfono inteligente.</p>
        </section>
        
        <!-- Añade más secciones según los integrantes -->

    </main>
    <footer>
        <a href="#">Terminos y condiciones</a>
        <a href="./pregfrecuentes.html">Preguntas Frecuentes</a>
        <a href="#">Ayuda</a>
        <a href="./creditos.html">Creditos</a>
        <a href="./crud-movies.html">CRUD Peliculas</a>
    </footer>
</body>
</html>